/ {
	chosen {
		zephyr,console = &uart21;
		zephyr,shell-uart = &uart21;
	};
};

&wisblock_i2c1 {
	shtc3@70 {
		compatible = "sensirion,shtc3", "sensirion,shtcx";
		reg = <0x70>;
		measure-mode = "normal";
	};
};
